* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #eee;
}

a {
  text-decoration: none;
}

/* Head Section */
.head {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5;
  min-height: 20vh;
  background: #fff;
  /* opacity: 0.7; */
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2);
}

.head img {
  margin: 10px 50px;
}

.nav {
  display: none;
}

/* Main Section */
.main {
  position: absolute;
  width: 100%;
  top: 150px;
}

.item-container {
  min-height: 100vh;
  width: 100%;
  margin: 20px auto;
}

.menu-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin: 50px auto;
  padding: 50px;
  background: #fff;
}

.menu-item img {
  width: 80%;
  height: 150px;
}

.wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  top: -10px;
  left: 0;
}
.product-name {
  position: absolute;
  top: 90%;
  height: 30px;
  padding: 5px 10px;
  background: tomato;
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
}
.price {
  position: absolute;
  top: 10px;
  font-size: 14px;
  left: 0;
  background: #222;
  color: white;
  height: 30px;
  padding: 5px 10px;
  border-radius: 5px;
}

.count {
  text-align: center;
  margin: 20px 0;
}

/* Select Form */
.select-category {
  height: 30px;
  width: 80%;
  margin: 10px auto;
}
.select {
  height: 100%;
  width: 100%;
}

/* Preloader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  display: grid;
  justify-content: center;
  align-items: center;
  visibility: visible;
  z-index: 999;
  transition: all 0.3s linear;
}
.hide-preloader {
  z-index: -999;
  visibility: hidden;
}

@media only screen and (min-width: 676px) {
  /* Head Section */
  .nav {
    position: absolute;
    right: 20px;
    top: 50px;
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
  }

  .nav-items {
    height: 30px;
  }

  .nav-items a {
    margin: 10px;
    padding: 10px 15px;
    color: #222;
    background: #eee;
    border-radius: 5px;
  }

  /* Main Section */
  .main {
    width: 100%;
    top: 150px;
  }

  .item-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 20px auto;
  }

  .menu-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20%;
    margin: 50px 20px;
    padding: 50px;
    background: #fff;
    /* border: 2px solid black; */
  }

  .menu-item img {
    width: 80%;
    height: 150px;
  }

  .wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  .product-name {
    position: absolute;
    top: 80%;
    height: 50px;
    padding: 5px 10px;
    background: tomato;
    color: #fff;
    border-radius: 5px;
  }
  .price {
    position: absolute;
    top: 10px;
    left: 0;
    background: #222;
    color: white;
    height: 30px;
    padding: 5px 10px;
    border-radius: 5px;
  }

  .count {
    text-align: center;
    margin: 20px;
  }

  /* Select Form */
  .select-category {
    position: absolute;
    top: 0;
    margin: 30px 70px;
    height: 30px;
    width: 200px;
  }
  .select {
    height: 100%;
    width: 100%;
  }
}
