* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.main {
}

.item-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  background: coral;
}

.menu-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 30%;
  margin: 20px;
}

.menu-item img {
  width: 100%;
}
